<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facture</title>
</head>
<body>
    {{facture.client}}
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for line in facture.product_lines %}
                <tr>
                    <td>{{ line.product.name }}</td>
                    <td>{{ line.quantity }}</td>
                    <td>{{ line.product.price }}</td>
                    <td>{{ line.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>